.feature-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.featureCard {
  flex: 1 1 calc(25% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  transition: transform 0.2s ease;
  /* margin: 10px; */
}

.featureBigImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
}

.featureSmallImgDiv {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.featureSmallImg {
  width: 70px;
  height: 75px;
  object-fit: contain;
  border-radius: 10px;
  border: 0.5px solid black;
  padding: 5px;
  transition: border-color 0.3s ease;
}

.featureSmallImg:hover {
  border-color: #0073e6;
  cursor: pointer;
}

.featureText {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  line-height: 1.4;
  text-align: center;

  /* display: -webkit-box; required for clamping */
  display: box; /* fallback */
  -webkit-box-orient: vertical; /* for webkit */
  box-orient: vertical; /* fallback */
  -webkit-line-clamp: 2; /* clamp to 2 lines */
  line-clamp: 2; /* standard syntax */
  overflow: hidden; /* hides extra lines */
  text-overflow: ellipsis; /* adds "..." */
  height: 2.8em; /* keeps all texts equal height */
  max-width: 100%;
}

.priceSection {
  display: flex;
  /* justify-content: center; */
  padding: 6px;
  align-items: baseline;
  gap: 8px;
  /* margin: 8px 0; */
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #007600; /* green like Amazon */
}

.mrp {
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
}

.featureSmallImg.active {
  border: 2px solid #0073e6;
}
