.navbarBanner {
  height: 40px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  padding: 0 0 0 11px;
  /* justify-content: space-evenly; */
  flex-wrap: wrap; /* allow wrap if too many items */
  gap: 0px;
}

.navbarBannerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  max-width: 90%;
  color: white;
  padding: 4px 3px;
  border: 1px solid transparent;
  transition: border 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.navbarBannerOptionsAll {
  font-size: 17px;
  font-weight: normal;
  /* padding-left: 1px; */
}

/* this class will apply hover ONLY on the text */
.hoverBox {
  display: flex;
  align-items: center;
  padding: 6px 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: border 0.2s ease;
}

.hoverBox:hover {
  border: 1px solid white;
}

.hover {
  &:hover {
    border: 1px solid white;
    border-radius: 3px;
  }
}
