* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* border: 1px solid; */
}

/* index.css or App.css */
body {
  background-color: #e3e6e6;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
